<app-hello-world> </app-hello-world>

{{getMin(5, 3)}}
<br>
<app-parent></app-parent>

<button (click)="toggleText($event)">Toggle text</button>
{{showText}}
<br>
{{todaysDate | date: 'long' | uppercase}}
<br>
{{'World' | greetingsPipe }}
<br>
<img [src]="itemImageUrl">
<br>
<button [disabled]="isUnchanged">Disabled Button</button>
<br>
<!-- interpolation -->
<p><img src={{itemImageUrl}} alt="smartphone"></p>
<!-- prop binding -->
<p><img [src]="itemImageUrl" alt="smartphone"></p>

<router-outlet></router-outlet>